body {

}
table,a {
    text-decoration: none;
   
}



#formid {
    margin-left: 180px;
}

#indexform{
   /* display:flex;
    justify-content:center;
    align-items:center;
    width:80%;*/

}
border roundedt {
    background-color: black;
}